
#ddmenu
{	
    display:block;
    font-family: 微軟正黑體, Helvetica, Arial, sans-serif;
    text-align:center;
    letter-spacing:normal;
}

#ddmenu ul
{ 
    
    padding:0;
    text-align:center; 
    
	width:100%;
    font-size:0;
    background:black;
    display:inline-block;
    list-style:none;
    position:relative;
    z-index:999999990; 
    border-radius:2px;
	padding-top:2px;
}

#ddmenu li
{	
    margin:0;
    padding:0;
    font-size:18px;
    display:inline-block;   
    *display:inline;
    zoom:1;
    position:relative;
    color:white;
    line-height:44px; 
    vertical-align:middle;
    transition:background-color 0.2s;
    outline:none;
	-moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#ddmenu .full-width {
    position:static;
}

#ddmenu .over
{
    color:#333333;
	background-color:white;
}

#ddmenu .over.no-sub {
    color:#fff;
background-color:#555555;
border-radius:0;
}

#ddmenu .top-heading
{
    font-weight:normal;
    margin:0 22px;
    color:inherit;
    text-decoration:none;
    display:inline-block; 
    outline:0;
    cursor:pointer;
}

#ddmenu a, #ddmenu a:link, #ddmenu a:hover
{
    color:inherit;
}
#ddmenu a:hover
{
    text-decoration:underline;
}

#ddmenu a:focus
{
    outline:1px dotted #09F;
}


#ddmenu .caret
{
    color:inherit;
    left:-18px;
    width: 0;
    height: 0;
    overflow:hidden;
    vertical-align:middle;
    margin-bottom:2px;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    position:relative;
}  
        


#ddmenu .dropdown
{
    width:auto;    
    left:0px;
    color:#333333;   
    padding:0;margin:0;display:none;position:absolute;overflow:hidden;
    top:100%;    
    border:1px solid #bbb;border-top:none;
border-radius:0 0 3px 3px;
box-shadow: 0px 6px 6px rgba(0,0,0,0.175);
}

#ddmenu .full-width .dropdown {
    width:100%;
    padding:0;
    margin:0;
}

#ddmenu .offset300 {
    left:-300px;right:auto;
}

#ddmenu .right-aligned {
    left:auto;
    right:0px;
}

#ddmenu .over .dropdown
{
    display:block;
}

#ddmenu .dd-inner {
    text-align:center;
    padding:20px;
    margin:0px;
    background-color:white;
    white-space:nowrap;
    font-size:13px;
}

#ddmenu ul ul
{ 
    margin:0;padding:0;text-align:left;width:auto;background:none;border:none;display:block;position:static;z-index:0;border-radius:0;
}

#ddmenu ul ul li
{
    font-size:13px;
    padding:6px 0;
    color:inherit;
    line-height:1;
    margin:0;display:block;position:static;background:none;border:none;transition:none;border-radius:0;
}
  


#ddmenu .dropdown a
{
    color:#444;
    line-height:1;
    text-decoration:none;
    transition:color 0.4s;
}

#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus
{
    text-decoration:underline;
    color:#0099FF;
}


#ddmenu .column
{font-weight:50;
    text-align:left;
    vertical-align:top;
    display:inline-block;
    *display:inline;*zoom:1;
    white-space:normal;
    width:auto;min-width:100px;
padding:0 30px;
border-right:1px solid #333;
}

#ddmenu .dd-inner ul:last-child
{
    border-right:none;
}

#ddmenu h3 {
  font-weight: 50;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

#ddmenu li {border-radius:3px 3px 0 0;}

#ddmenu h3 {
text-transform:uppercase;
border-bottom:1px solid #333;
}


#ddmenuLink {display:none;}

